@import url('https://fonts.googleapis.com/css?family=Oldenburg');


/* Set style of the base page */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  color: #616161;
  padding: 60px 0;
}

a { 
  color: #8eadd2;
}

/* Change Color of Items when hovering on them */
a:hover {
  color: #6e91b9;
}


/* Set style of the main div of page */
#w {
  position: relative;
  display: block;
  width: 800px;
  height: 550px;
  margin: 0 auto;
  background: rgb(214, 214, 214);
  padding: 15px 25px;
  border: 2px solid black;
}


/*  Set style of the output section which we show user's information */
#ghapidata {
  display: block;
  padding: 25px 0;
}

/* Set style of the username which will be written in input section */
#ghusername {
  display: block;
  padding: 2px 8px;
  font-size: 1.4em;
  color: rgb(46, 0, 0);
  width: 100px;
  margin-bottom: 15px;
  border: 2px solid black;
}


/* Set Style of the submit button */
.submit-btn{
  display: block;
  padding: 4px 8px;
  background-color: #fff;
  font-size: 1em;
  font-weight: bold;
  color: rgb(0, 0, 0);
  width: 120px;
  margin-bottom: 15px;
}


/* Set Style of the right section which user can write username and submit it */
#myForm{
  position: relative;
  background: white;
  width: 140px;
  height: 175px;
  padding-left: 22px;
  padding-top: 100px;
  border: 1px solid black;
  border-radius: 20px;
  left: 560px;
  top: 140px;
}

/*  Set style of the output section which we show user's information */
#ghapidata{
  position: relative;
  background: white;
  width: 400px;
  height: 230px;
  border-radius: 20px;
  border: 1px solid black;
  bottom: 140px;
  left: 70px;
}

/* Set style for showing Name of the user */
.fullname{
  position: relative;
  font-size: 11px;
  color: black;
  font-weight: bold;
  left: 180px;
  top: 5px;
}

/* Set style for showing Weblog of the user */
.blog-sec{
  position: relative;
  font-size: 11px;
  color: black;
  font-weight: bold;
  left: 180px;
  bottom: 85px;
}

/* Set style for showing Location of the user */
.location-sec{
  position: relative;
  font-size: 11px;
  color: black;
  font-weight: bold;
  left: 180px;
  bottom: 71px;
}

/* Set style for showing Biography of the user */
.bio-sec{
  position: relative;
  white-space: pre-wrap;
  font-size: 11px;
  color: black;
  font-weight: bold;
  left: 25px;
  top: 35px;
}

/* Set style for showing Favourite Language of the user */
.lang-sec{
  position: relative;
  font-size: 11px;
  color: rgb(248, 0, 0);
  font-weight: bold;
  left: 50px;
  bottom: 20px;
}

/* Set style for showing whether the data is fetch from local storage */
.desc{
  position: relative;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  top: 100px;
  font-size: 20px;
  left: 30px;
}

/*  Set style for showing image of the user */
.ghcontent{
  position: relative;
  left: 50px;
  bottom: 10px;
}

/* Set style for showing error when there is no user with the given username or no username provided  */
.error-msg{
  position: relative;
  font-size: 15px;
  font-weight: bold;
  top: 100px;
  left: 30px;
  color: rgb(224, 45, 194);
}